.toc {
    display: block;
    background-color: #FFF;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    list-style-type:none;
}

ul.toc {
    padding: 10px;
}

.toc a:visited {
    color: #d9042B;
}